/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus,
:active {
	/*outline: none;*/
}

a:focus,
a:active {
	/* outline: none;*/
}

/* Links */

a, a:link, a:visited  {
    /* color: inherit; */
    text-decoration: none;
    /* display: inline-block; */
}

a:hover  {
    /* color: inherit; */
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}



ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

body{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 18px;
    background-color: rgb(240, 240, 240);
}
.wrapper {
    height: 100vh;
}
.background{
    background: rgb(1,23,43);
    background: linear-gradient(111deg, rgba(1,23,43,1) 6%, rgba(87,36,38,1) 43%, rgba(89,36,37,1) 47%, rgba(59,14,15,1) 71%);
    background-size: 35%;
    background-repeat: no-repeat;
    position: absolute;
    height: 100vh;
    width: 100%;
}
.container{
    max-width: 1440px;
    margin: auto;
}
.content{
    display: flex;
    position: relative;
    height: 100vh;
    padding: 0 100px;
}
.cards-column {
    width: 50%;
    padding: 0 50px 0 00px;
    vertical-align: middle;
}
.cards-box {
    position: relative;
    height: 55vh;
    transform: translateY(40%);
}
.card-face {
    background: rgb(14,44,72);
    background: linear-gradient(111deg, rgba(14,44,72,1) 0%, rgba(199,98,106,1) 58%, rgba(238,111,114,1) 69%, rgba(237,106,109,1) 73%, rgba(158,34,37,1) 94%) no-repeat;
    background-size: contain;
    background-origin: content-box;
    border-radius: 10px;
    width: 447px;
    height: 245px;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    z-index: 3;
    #number{
        font-size: 30px;
        letter-spacing: 2px;
        left: 9%;
        position: absolute;
        top: 50%;
    }
    #name{
        position: absolute;
        bottom: 15%;
        left: 9.5%;
        letter-spacing: 2px;
        text-transform: capitalize;
    }
    .date{
        position: absolute;
        bottom: 15%;
        right: 9.5%;
        letter-spacing: 2px;
        font-size: 14px;
    }
    .big-circle {
        background: white;
        border-radius: 50%;
        position: absolute;
        top: 10%;
        left: 9%;
        width: 50px;
        height: 50px;
    }
    .small-circle {
        border: 2px solid white;
        border-radius: 50%;
        position: absolute;
        top: 15%;
        left: 25%;
        width: 25px;
        height: 25px;
    }

}
.card-back {
    background: url(../images/bg-card-back.png) no-repeat;
    background-size: contain;
    background-origin: content-box;
    width: 447px;
    height: 245px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    span {
        display: block;
        position: absolute;
        top: 44%;
        right: 12%;
        color: white;
        letter-spacing: 1px;
    }
}
.input-column {
    width: 50%;
    padding: 0 20px 0 20px;
    position: relative;
}
.input-box {
    position: relative;
    height: 55vh;
    padding: 15%;
    transform: translateY(40%);
    letter-spacing: 2px;
    display: block;
    span{
        display: block;
        font-weight: bold;
        margin-bottom: 6px;
        text-transform: uppercase ;
        font-size: 12px;
    }
    input{
        display: block;
        margin-bottom: 20px;
        height: 50px;
        padding-left: 10px;
        width: 100%;
        border: 1px solid #c9c9c9;
        border-radius: 10px;
        letter-spacing: 1px;
    }
    input:focus{
        border: 1px solid rgba(158,34,37,1);
    }
}
.name-input {
    input{
    text-transform: capitalize;
    }
    input::placeholder{
        text-transform: none;
    }
}

.number-input {
}
.other-inputs {
    display: flex;
    justify-content: space-between;
}
.date-input {
    width: 43%;
    margin-right: 10px;
}
.date-input__data{
    display: flex;
    justify-content: space-between;
    input{
        width: 46%;
    }
}
.cvc-input {
    margin-left: 10px;
    width: 50%;
}
.complete-box {
    position: relative;
    height: 55vh;
    padding: 15%;
    transform: translateY(40%);
    letter-spacing: 2px;
    display: none;
    span{
        display: block;
        font-weight: bold;
        margin-bottom: 20px;
        text-transform: uppercase ;
        font-size: 32px;
        text-align: center;
    }
    p {
        margin: 20px 0;
        text-align: center;
        font-weight: bold;
        color: #858585;
    }
    input{
        display: block;
        margin-bottom: 20px;
        height: 50px;
        padding-left: 10px;
        width: 100%;
        border: 1px solid #c9c9c9;
        border-radius: 10px;
        letter-spacing: 1px;
    }
}
.attribution { 
    font-size: 14px; 
    text-align: center; 
    position: absolute;
    width: 85%;
    bottom: 0;
    margin: auto;
    a { color: hsl(228, 45%, 44%); }
}
.confirm-button,
.continue-button {
    background-color: rgba(158,34,37,1);
    color: white;
    font-weight: bold;
    border: none;
    transition: 0.2s;
    cursor: pointer;
    height: 65px;;
}
.confirm-button:hover,
.continue-button:hover{
    background-color: rgb(196, 56, 59);
}
.confirm-error{
    text-align: center;
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    visibility: hidden;
}
.complete-icon{
    display: block;
    margin: auto;
    margin-bottom: 40px;
}

@media (max-width:1210px) {
    .card-back{
        left: 0 ;
    }
    .input-box {
        padding: 15% 3%;
    }
};
@media (max-width:1070px) {
    .background{
        background-position: left top;
        background-size: 100%;
        width: 100%;;
        height: 30%;
    }
    .content{
        flex-direction: column;
        width: 100%;
        padding: 0 10%;
    }
    .cards-column{
        flex-direction: row;
        width: 100%;
        padding: 0;
    }
    .cards-box{
        transform: translateY(0%);
        width: 100%;
        height: 40vh;
    }
    .card-back {
        width: 358px;
        height: 196px;
        position: absolute;
        z-index: 2;
        left: 40%;
        top: 10%;
        span {
            font-size: 14px;
        }
    }
    .card-face {
        width: 358px;
        height: 196px;
        position: relative;
        z-index: 3;
        left: 15%;
        top: 30%;
        #number{
            font-size: 23.5px;
            letter-spacing: 2px;
        }
        #name{
            font-size: 16px;
        }
        .date{
            font-size: 12px;
        }
        .big-circle {
            width: 35px;
            height: 35px;
        }
        .small-circle {
            left: 23%;
            width: 15px;
            height: 15px;
        }
    }
    .input-column{
        flex-direction: row;
        width: 100%;
    }
    .input-box,
    .complete-box{
        transform: translateY(0%);
        padding: 10px 0;
        height: 100%;
    }
    .complete-icon{
        margin-bottom: 20px;
        margin-top: 30px;
    }
};

@media (max-width:900px) {
    .card-back {
        left: 30%;
    }
    .card-face {
        left: 10%;
    }
}

@media (max-width:700px) {
    .content{
        padding: 0 20px;
    }
    .card-face {
        left: 5%;
    }
    .attribution{
        display: none;
    }
    .complete-icon{
        margin-bottom: 30px;
        margin-top: 30px;
        width: 70px;
        height: 70px;
    }
}
@media (max-width:570px) {
    .background{
        height: 22%;
    }
    .cards-box{
        height: 240px;
    }
    .card-back {
        width: 251px;
        height: 137px;
        left: 35%;
        top: 10%;
        span {
            font-size: 12px;
        }
    }
    .card-face {
        width: 251px;
        height: 137px;
        left: 15%;
        top: 40%;
        #number{
            font-size: 17px;
            letter-spacing: 1px;
        }
        #name{
            font-size: 12px;
        }
        .date{
            font-size: 10px;
        }
        .big-circle {
            width: 25px;
            height: 25px;
        }
        .small-circle {
            left: 23%;
            width: 12px;
            height: 12px;
        }
    }
    .input-column{
        flex-direction: row;
        width: 100%;
    }
    .input-box{
        span{
            display: block;
            font-weight: bold;
            margin-bottom: 6px;
            text-transform: uppercase ;
            font-size: 10px;
        }
        input{
            margin-bottom: 10px;
            height: 35px;
            padding-left: 10px;
            font-size: 14px;
        }
    }
    .complete-box {
        letter-spacing: 2px;
        span{
            font-size: 25px;
        }
        p {
            margin: 20px 0;
            font-size: 12px;
        }
        input{
            margin-bottom: 10px;
            height: 50px;
            font-size: 16px;
        }
    }
    .confirm-button{
        margin-bottom: 5px;
    }
    .confirm-error{
        font-size: 14px;
    }
}
@media (max-width:470px) {
    .card-back {
        width: 251px;
        height: 137px;
        left: 20%;
        top: 30px;
        span {
            font-size: 12px;
        }
    }
    .card-face {
        left: 10px;
        top: 100px;
    }
}